body{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../Black_Jack.jpg");
    background-size: cover;
    text-align: center;
    color:black;
    font-weight: bolder;
    font-size: medium;
}

h1{

    color:goldenrod;
    background-color: black;
   
    
}

#message-el,#cards-el,#sum-el{

    font-style: italic;
    background-color: cornsilk;
}

button{

    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}